python==3.9
cudatoolkit==11.8
cudnn==8.6
tensorflow==2.8
keras==2.8
jupyter
numpy==1.21.2
scipy==1.7.3
Pillow==10.2.0
cython==3.0.8
matplotlib==3.4.3
scikit-image==0.18.2
h5py==3.10.0
imgaug==0.4.0
IPython[all]==8.18.1
